.globalColor{
    font-style: normal;
    font-weight: 800;
    font-size: 1.7em;
    line-height: 156%;
    color: darkblue;
}
.textColor{
    color: black;
    font-family: "Roboto Mono" , monospace;
    font-style: normal;
    font-size: 0.8em;
    font-weight: 600;
    text-shadow: darkslateblue;
}
.container{
    padding: 0px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
html{
    min-width: 300px;

}

body{
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    line-height: 2em;
    font-weight: 400;

    width: 90%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    /*background-color: oldlace;*/
    margin-bottom: 5%;
    /*min-width: 300px;*/

}

.fixed-top{
    width: 100%;
    min-width: 450px;
    font-size: 1.5em;
    position: static;
    margin-bottom: 1%;
    z-index: +1;
}

@media (max-width: 575.98px){
    header{
        max-width: 100%;
        background-size: cover;
        display: block;
    }
    html, header, article, aside, footer{
        display: block;
    }

    .textColor, .text-info, #skills{
        text-align: center;
        font-size: 0.7em;
    }
    #greetings, .globalColor {
        font-size: .9em;

    }
    .container {
        display: block;
        align-self: center;
        justify-self: center;
    }
    #myPhoto{
        width: 50vw;
    }
    .fixed-top{
        display: none;
    }
}


header{
    background: #100D1D url("./assets/img/paper-1074131_1280.jpg") center center/cover no-repeat;
    width: 100%;
    margin-bottom: 2%;
}
article{
    width: 100%;
    background: url("./assets/img/paperboard-yellow-texture.jpg");
    margin-bottom: 2%;
}
aside{
    width: 100%;
    margin-bottom: 2%;
}

footer{
    width: 100%;
    height: 90%;
    background: url("./assets/img/autumn-2815427_1280.jpg");
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#myPhoto{
    width: 100%;
}
.col-6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#greetings>p{
    margin-top: 1%;
    font-family: "Roboto Mono" , monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
    line-height: 156%;
    color: darkblue;
    opacity: 0.7;
}

#intro, #education{
    color: black;
    font-style: normal;
    font-size: 0.8em;
    font-weight: 600;
}
#intro>h6{
    font-size: .4vw;
}
#skills>ul>li, .progress{
    font-family: "Roboto Mono" , monospace;
    font-weight: 600;
    color: black;
    font-size: 1.2em;
}
.itProgress>h5{
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-items: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 0px;
}
